{% extends "base1.html" %}

{% block content %}

{% load static %}
<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Rimon Mikhael</h1>
            <p class="lead text-muted">Hi, I am Rimon, It`s time for a small introduction about me. I am self motivated, hard working,
             and I enjoy the little things. I believe that you are only limited by how much faith you have in yourself.
                Accordingly I will never stop trying. One last thing, I loveeeee Computers and everything related to them.
                I enjoy Knowledge about Programming, Networking, System admin, DevOps.</p>
            <br>
            <ul>
                <h4>Skills:</h4>
                <ol>•	Software Development: Python, C/C++, Assembly(shellcode), Typescript and BASH</ol>
                <ol>•	Web Development: Angular 7 and Django</ol>
                <ol>•	Database Management: PostgreSQL</ol>
                <ol>•	Networking: Cisco Certified Network Associate (CCNA), VMware, LPIC Certified and Linux+ certified</ol>
                <ol>•	Artificial Intelligence: Python regression, nearest zone.</ol>

            </ul>
            <p>
               <p>
                    {% if user.is_authenticated %}
                    welcome {{ user.username }}
                    {% else %}
                    Welome u are not currently logged in
                    {% endif %}
                    
                    
               </p> 
                <a href="mailto:rimonmikhael@gmail.com" class="btn btn-primary my-2">Email Me</a>
                </p>
            <img src="{% static '20160220_225712.jpg' %}" class="rounded  img-fluid"  alt="">
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                {% for job in jobs.all %}

                <div class="col-md-4">

                    <div class="card mb-4 shadow-sm">
                        <h5 class="card-title">{{job.title}}</h5>
                        <img src="{{job.image.url}}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text">{{job.summary}}</p>
                            <div class="d-flex justify-content-between align-items-center">

                                <a type="button" href="{{job.url}}" class="btn btn-sm btn-outline-secondary">View</button></a>



                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>

    </div>


</main>



{% endblock content %}